body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto; /* Centering on the page */
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    width: 80%; /* Adjusted width */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto; /* Centering on the page */
}

.game-container {
    display: flex;
    justify-content: space-around; /* Space games evenly */
    align-items: center;
    width: 100%; /* Full width of the parent */
    padding: 20px;
}

.snake-game {
    width: 400px; /* Fixed width for the Snake game */
    height: 400px; /* Fixed height for the Snake game */
    background-color: white; /* Background for the Snake game */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* For absolute positioning of the canvas */
    display: flex; /* Centering the canvas */
    justify-content: center;
    align-items: center;
    margin: 10px; /* Adding some margin */
}

.tic-tac-toe-game {
    width: 400px; /* Adjusted width for the Tic Tac Toe game */
    height: 400px; /* Adjusted height for the Tic Tac Toe game */
    background-color: white; /* Background for the Tic Tac Toe game */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex; /* Use flex to create a grid layout */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center cells */
    align-items: center; /* Center cells vertically */
    margin: 10px; /* Adding some margin */
}

.cell {
    width: 30%; /* Adjust for your desired cell size */
    height: 30%; /* Adjust for your desired cell size */
    border: 1px solid #ccc; /* Cell border */
    display: flex;
    justify-content: center; /* Center content in cells */
    align-items: center; /* Center content in cells */
    font-size: 4em; /* Larger font size for X and O */
    cursor: pointer; /* Pointer cursor on hover */
}

.cell:hover {
    background-color: #f0f0f0; /* Highlight cell on hover */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
